:host {
  --time: 0.5s;
  --ease: ease-out;
  display: block;
}

:host .kuokko-face {
  margin: 3rem auto;
  width: 100px;
  height: 100px;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid var(--graylight);
  box-shadow:
    0 0 1rem 3px hsl(0, 0%, 80%),
      0 0 0 1.2rem var(--graylight);
}

:host(.speaking) .kuokko-face {
  box-shadow:
    0 0 1rem 10px hsl(0, 0%, 80%),
    0 0 0 2rem var(--graylight);
  animation: kuokkoShadow 0.5s infinite alternate;
}

:host(.on-match) .kuokko-face {
  box-shadow:
    0 0 1rem 10px hsl(0, 0%, 80%),
    0 0 0 2rem var(--graylight);
  animation: kuokkoMatch 0.5s;
}

.kuokko-face .face-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(0.75rem) translateY(0.25rem);
  transition: all var(--time) var(--ease);
}

.kuokko-face.open .face-wrapper {
  transition: all var(--time) var(--ease);
  transform: translateX(0) translateY(0);
}

.kuokko-face .eyeface {
  display: flex;
  justify-content: center;
  margin-bottom: 0.25rem;
}

.kuokko-face .eye {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0.25rem;
  background: var(--gray800);;
  border-radius: 0 0 50% 50%;
  transform: scaleY(0.1) scaleX(0.8);
  transition: all var(--time) var(--ease);
  content: "";
}

.kuokko-face.open .eye {
  border-radius: 50%;
  transform: scaleY(1);
  transition: all var(--time) var(--ease);
}

.kuokko-face .moustache {
  width: 3.5rem;
  margin: 0 auto;
  fill: var(--gray800);
}
.kuokko-face.open .mouth {
  transform: scale(0);
}

.kuokko-face .mouth {
  width: 0.5rem;
  height: 0.5rem;
  margin: -0.2rem;
  background: var(--gray800);;
  border-radius: 50%;
  transition: all var(--time) var(--ease);
}

@keyframes kuokkoShadow {
  from {
    box-shadow:
      0 0 1rem 10px hsl(0, 0%, 80%),
      0 0 0 2rem var(--graylight);
  }
  to {
    box-shadow:
      0 0 1rem 10px hsl(0, 0%, 70%),
      0 0 0 2.75rem var(--graylight);
  }
}

@keyframes kuokkoMatch {
  0 {
    box-shadow:
      0 0 1rem 10px hsl(0, 0%, 80%),
      0 0 0 2rem var(--graylight);
  }
  20% {
    box-shadow:
      0 0 1rem 10px #92d4a4,
      0 0 0 2.2rem #aeebbe;
  }
  80% {
    box-shadow:
      0 0 1rem 10px #92d4a4,
      0 0 0 2.2rem #aeebbe;
  }
  100% {
    box-shadow:
      0 0 1rem 10px hsl(0, 0%, 70%),
      0 0 0 2rem var(--graylight);
  }
}
