.kuokko-face {
    margin: 4rem auto;
    width: 150px;
    height: 150px;
    background: var(--white);
    border-radius: 50%;
    padding: 2rem;
    border: 1px solid var(--graylight);
    box-shadow:
      0 0 1rem 10px hsl(0, 0%, 80%),
      0 0 0 2rem var(--graylight);
  }
  
  .kuokko-face.speaking {
    box-shadow:
      0 0 1rem 10px hsl(0, 0%, 80%),
      0 0 0 2rem var(--graylight);
    animation: kuokkoShadow 0.5s infinite alternate;
  }

  .kuokko-face.on-match {
    box-shadow:
      0 0 1rem 10px hsl(0, 0%, 80%),
      0 0 0 2rem var(--graylight);
    animation: kuokkoMatch 0.5s;
  }
  
  .kuokko-logo {
    width: 100%;
  }
  
  @keyframes kuokkoShadow {
    from {
      box-shadow:
        0 0 1rem 10px hsl(0, 0%, 80%),
        0 0 0 2rem var(--graylight);
    }
    to {
      box-shadow:
        0 0 1rem 10px hsl(0, 0%, 70%),
        0 0 0 2.75rem var(--graylight);
    }
  }

  @keyframes kuokkoMatch {
    0 {
      box-shadow:
        0 0 1rem 10px hsl(0, 0%, 80%),
        0 0 0 2rem var(--graylight);
    }
    20% {
      box-shadow:
        0 0 1rem 10px #92d4a4,
        0 0 0 2.2rem #aeebbe;
    }
    80% {
      box-shadow:
        0 0 1rem 10px #92d4a4,
        0 0 0 2.2rem #aeebbe;
    }
    100% {
      box-shadow:
        0 0 1rem 10px hsl(0, 0%, 70%),
        0 0 0 2rem var(--graylight);
    }
  }