:host {
  width: 100vw;
  margin: 3rem 1rem;
}

.kuokko-area {
  text-align: center;
  z-index: 9;
  background: var(--white);
}


.title {
  font-size: var(--large);
  font-weight: var(--normal);
  white-space: nowrap;
  color: #3A3F47;
}

.tagline {
  white-space: nowrap;
  color: #3A3F47;
}

.kuokko-sticky {
  position: sticky;
  top: 0;
}

@media (min-width: 1024px) {
  :host {
    display: flex;
    justify-content: space-between;
    width: var(--breakpoint);
    margin: 3rem auto 0;
  }

  .kuokko-area {
    text-align: center;
  }
  
  .kuokko-interactive {
    padding-left: 4rem;
    flex: 2;
  }

}
