/* Main styles */

:root {
  --kuokko: #3a3f47;
  --white: #ffffff;
  --gray: #7a8395;
  --graylight: #f2f3f4;

  --large: 2rem;
  --medium: 1rem;
  --small: 0.9rem;

  --bold: 800;
  --normal: 400;
  --light: 200;

  --breakpoint: 1024px;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--white);
  color: var(--kuokko);
  font-family: 'Nunito', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
