
@media (min-width: 1024px) {
  .is-main {
    display: flex;
    background: var(--white);
  }

  .is-main img {
      width: 474px;
      height: 203px;
  }

  .recipe {
    margin-bottom: 0;
  }

  .recipe-main {
    flex: 1;
  }
}

.recipe {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.recipe.is-main {
  padding-bottom: 1rem;
  box-shadow: none;
}

.recipe-pic {
    width: 100%;
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
}

.recipe-author {
  text-transform: uppercase;
  color: var(--gray);
  font-size: 0.7rem;
  font-weight: var(--bold);
  letter-spacing: 2px;
  margin: 0.8rem 0 0.2rem;
  opacity: 0.7;
  padding: 0 0.8rem;
}

.recipe-title {
  font-weight: var(--normal);
  padding: 0 0.8rem;
  margin: 0 0 0.8rem;
  font-size: 1.2rem;
  height: 2.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

.is-main .recipe-title {
  font-size: 1.6rem;
  height: auto;
}

.recipe-ingredients {
  color: #3A3F47;
  font-size: 14px;
  font-weight: var(--light);
  line-height: 24px;
  list-style-type: none;
  padding: 1rem;
  border-left: solid 1px #dbdee1;
  margin-top: 0;
  max-height: 248px;
  overflow-y: auto;
  width: 100%;
}

.recipe-ingredients::-webkit-scrollbar {
  width: 0.6rem;
}
 
.recipe-ingredients::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 6px;
}
 
.recipe-ingredients::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid #dbdee1;
  border-radius: 6px;
}

.recipe-summary {
  display: flex;
  color: var(--gray);
  padding: 0 0.8rem;
}

.recipe-summary > * {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1rem;
}

.recipe-summary > *::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: inline-block;
  height: 1rem;
  margin-right: 0.3rem;
  vertical-align: middle;
  width: 1rem;
}

.recipe-summary .time::before {
  background-image: url('src/images/icon-clock.svg');
}

.recipe-summary .difficulty::before {
  background-image: url('src/images/icon-difficulty.svg');
}

.recipe-summary .servings::before {
  background-image: url('src/images/icon-servings.svg');
}

@media (min-width: 1024px) {
  .recipe-aside {
    margin-left: 2rem;
  }
}
