
@media (min-width: 1024px) {
  .is-main {
    display: flex;
    background: var(--white);
  }

  .is-main img {
      width: 474px;
      height: 203px;
  }

  .recipe {
    margin-bottom: 0;
  }
}

.recipe {
  margin-bottom: 2rem;
}

.recipe-pic {
    width: 100%;
    height: 10rem;
}

.recipe-author {
  text-transform: uppercase;
  color: var(--gray);
  font-weight: var(--bold);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.recipe-title {
  font-weight: var(--normal);
  padding: 0;
  margin: 0.5rem 0;
}

.recipe-ingredients {
  color: #3A3F47;
  font-size: 14px;
  line-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
}

.main-recipe {
  grid-column: 1 / 4;
  display: flex;
  padding-bottom: 1rem;
}

.recipe-summary {
  display: flex;
  color: var(--gray);
}

.recipe-summary > * {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.recipe-summary > *::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: inline-block;
  height: 1.2rem;
  margin-right: 0.4rem;
  vertical-align: middle;
  width: 1.2rem;
}

.recipe-summary .time::before {
  background-image: url('src/images/icon-clock.svg');
}

.recipe-summary .difficulty::before {
  background-image: url('src/images/icon-difficulty.svg');
}

.recipe-summary .servings::before {
  background-image: url('src/images/icon-servings.svg');
}

@media (min-width: 1024px) {
  .recipe-aside {
    margin-left: 2rem;
  }
}
