
.recipe-pic {
  width: 100%;
}

.recipe-author {
  text-transform: uppercase;
  color: var(--gray);
  font-weight: var(--bold);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.recipe-secondary .recipe-title {
  font-size: var(--medium);
}

.recipe-title {
  font-weight: var(--normal);
  padding: 0;
  margin: 0.5rem 0;
}

.recipe-ingredients {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
}

@media (min-width: 1024px) {
  .recipes-layout {
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
    justify-content: start;
    align-content: start;
    grid-template-columns: repeat(3, 33%);
  }

  .recipe-first {
    grid-column: 1 / 4;
    display: flex;
    padding-bottom: 1rem;
  }

  .recipe-aside {
    margin-left: 2rem;
  }
}